@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700,700i&display=swap');
@import url('https://fonts.googleapis.com/css?family=PT+Serif:400,400i,700&display=swap');

@font-face{
font-family: 'ActaW01-Book';
src: url('fonts/Acta-W01-Book.ttf');
font-weight: normal;
font-style: normal;
}

@font-face{
font-family: 'Futura LT Bold';
src: url('fonts/FuturaLT-Bold.ttf');
}
@font-face{
font-family: 'Futura LT';
src: url('fonts/FuturaLT.ttf');
}
@font-face{
font-family: 'Futura LT Medium';
src: url('fonts/FuturaLT.otf');
}
@font-face{
font-family: 'Futura LT Heavy';
src: url('fonts/FuturaLT-Heavy.otf');
}
@font-face{
font-family: 'ActaW01-Book Italic';
src: url('fonts/Acta-W01-Book-Italic.ttf');
font-weight: normal;
font-style: normal;
}
$serif: 'PT Serif', serif;
$lato: 'Lato', sans-serif;
$main-font:'ActaW01-Book', serif;
$main-font-italic:'ActaW01-Book Italic', serif;
$futbold: 'Futura LT Bold';
$futmed: 'Futura LT Medium';
$futhevy:'Futura LT Heavy';
$fut: 'Futura LT';

body {
  font-family: $main-font;
  font-size: 16px;
  margin: 0;
  padding: 0;
  line-height: normal;
}

* {
  outline: none;
  box-sizing: border-box;
}
#shop-page {
  background-color: #F5F3EF;
}
.al-ic {
  align-items: center;
}
.container {
  max-width: 1250px;
}
.gallary-section  {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.product-photo-section {
  width: 80%;
}
.product-photo-section img {
  display: none;
  width: 100%;
}
.product-photo-section .active {
  display: block;
}

.product-gallery {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin-right: 10px;
  .show-image {
    width: 50px;
    display: inline-block;
    box-shadow: 3px 4px 12px -5px #7a7a7a;
    margin-bottom: 10px;
    img {
      width: 100%;
    }
  }
}
.product-info {
  padding-right: 20px;
  &>div {
    padding: 25px 0;
    border-bottom: 1px solid #a1a1a1;
  }
  &>div:last-child {
    border-bottom: none;
  }
  .composition {
    font-family: $futmed;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
    font-size: .70233rem;
  }
  .name-product {
    font-size: 1.42383rem;
    font-weight: normal;
    margin-bottom: 5px;
  }
  .price {
    font-family: $futmed;
    line-height: 1.60181rem;
    color: #644444;
    font-size: 1.42383rem;
  }
  .selector {
    font-family: $futhevy;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
    font-size: .70233rem;
    a {
      color:#6E6E6E;
      font-size: .70233rem;
      text-decoration: underline;
      font-family: $futmed;
      text-transform: capitalize;
      letter-spacing: normal;
    }
  }
  .select-lenght {
    display: flex;
    padding: 0;
    margin-bottom: 0;
    li {
      list-style: none;
      font-family:$futhevy;
      font-size: .70233rem;
      margin-right: 5px;
      &.active {
        a {
          background-color:#CD627D;
          border-color: #CD627D;
          color: #ffffff;
        }
      }
      a {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        color: #000;
        text-decoration: none;
        width: 38px;
        height: 38px;
        border-radius: 50%;
        border: 1px solid #000;
      }
    }
  }
  .select-color {
    padding: 0;
    display: flex;

    li {
      list-style: none;
      margin-right: 5px;
      &.active {
        a {
          border: 5px solid #CD627D;
        }
      }
      a {
        display: block;
        width: 38px;
        height: 38px;
        border-radius: 50%;
        img {
          width: 100%;border-radius: 50%;
        }
      }
    }
  }

  p {
    font-size: .79012rem;
    color: #6E6E6E;
    line-height: 1.26562rem;
    margin-top: 0;
  }

}
.bg-rose {
  background-color: #ECDAD5;
}

.add-bag-btn {
  font-family: $futhevy;
  text-transform: uppercase;
  display: inline-block;
  font-size: .79012rem;
  letter-spacing: 4px;
  text-align: center;
  text-decoration: none;
  padding: 17px 80px;
  background-color: #CD627D;
  color: #fff;
  min-width: 272px;
}
.merits {
  display: flex;
  padding: 40px 0;
  flex-wrap: wrap;
  justify-content: center;
  .merits-item {
    padding: 0 30px;
    text-align: center;
    i {
      font-size: 20px;
    }
    .merits-text {
      line-height: 21px;
      margin-top: 15px;
      font-family: $futmed;
    }
  }
}

.bg-gray {
  background-color: #F9F9F9;
}

.header-see-slider {
  text-align: center;
  color: #644444;
  font-family: $main-font-italic;
  margin-bottom: 40px;
}

.slider-popup-section {
  text-align: center;
  padding: 0 40px;
  padding-top: 120px;
  padding-bottom: 100px;
  .slider-popup {
    position: relative;
  }
  .slick-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 25px;
    background-color: inherit;
    border: none;
    color: #6E6E6E;
  }
  .slick-prev {
    left: -25px;
  }
  .slick-next {
    right: -30px;
  }

}

.slider-popop_block {
  width: 230px;
  height: 230px;
  margin: 0 5px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;

  a {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    transition: all 0.2s;
    display: flex;
    align-items: center;
    justify-content: center;
    span {
      padding: 20px 30px;
      background-color: #000;
      color: #fff;
      display: none;
      font-family: $futhevy;
      text-transform: uppercase;
      font-size: 10px;
      letter-spacing: 4px;
    }
    &:hover {
      background-color: rgba(236,218,213,0.96);
      text-decoration: none;
      span {
        display: inline-block;
      }
    }
  }
}
.img-fluid {
  width: 100%;
}
.mfp-bg {
  opacity: 1;
  background-color: rgba(233, 233, 233, 0.9);
}
.slider-pop {
    width: max-content;
  padding: 20px;
  height: 80vh;
  text-align: center;
  background-color: #fff;
  margin: 0 auto;
  position: relative;
    img {
      height: 100%;
      width: auto;
    }
    p {
      color: #222;
      font-size: 12px;
      line-height: 19.5pt;
      letter-spacing: 0.01em;
      word-wrap: break-word;
      word-break: break-word;
              padding: 15px 30px;
              padding-top: 25px;
    }
    .diss {
      position: absolute;
      right: 0px;
      top: -40px;
      width: 35px;
      img {
        width: 100%;
      }
    }
}
.pd-20 {
  padding: 20px 0;
}

.bg-white {
  background-color: #fff;
}
.inform-wrapper {
  padding: 50px 150px;

  .inform-h2 {
    font-size: 1.60181rem;
    margin-bottom: 20px;
  }
  .inform-p {
    color: #6E6E6E;
    line-height: 1.26562rem;
    font-size: .79012rem;
    margin-bottom: 20px;
  }
  .inform-link {
    text-transform: uppercase;
    color: #000;
    text-decoration: none;
    display: inline-block;
    margin-bottom: 30px;
    font-family:$futmed;
    letter-spacing: 0.1rem;
  }
  .inform-h4 {
    font-family:$futmed;
    text-transform: uppercase;
    font-size: .70233rem;
    letter-spacing: 0.1rem;
    color: #6E6E6E;
  }

}
.inform-h1 {
  font-size: 2.56578rem;
  margin-bottom: 1rem;
  margin-top: 5px;
}
.video-block {
  position: relative;
  img {
    width: 100%;
  }
  a {
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    transform: translateY(-50%);
    transform: translateX(-50%);
    text-decoration: none;
    font-size: 20px;
    color: #000;
    i {
      position: relative;
      left: 2px;
    }
  }

}
.video-block,
.mid-text
 {
  padding: 0;
}

.mid-text {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.watch-btn {
  color: #000;
  text-decoration: none;
  border-bottom: 2px solid #000;
  display: inline-block;
  margin-bottom: 10px;
}

.video-pop {
  position: relative;
  width: max-content;
  margin: 0 auto;
  .diss {
    position: absolute;
    top: -30px;
    right: 0;
    text-decoration: none;
    color: #000;
    img {
      width: 15px;
      position: relative;top: 3px;
    }

  }
}
.accord-content { display: none; }
.accord-h {
  font-family: $futhevy;
  letter-spacing: 0.1rem;
    text-transform: uppercase;
    font-size: 1rem;
    padding-top: 1.333rem;
    margin-bottom: 1rem;
color: #000000;
}

.accordion-section {
  margin-top: 5.61023rem;
  margin-bottom: 5.61023rem;
  .inform-h1 {
    text-align: center;
    margin-bottom: 40px;
  }
  .accordion {
    width: 80%;
    margin: 0 auto;
    color: #6E6E6E;

  }
  .accord-content {
    padding-right: 50px;
    margin-right: 3.15733rem;
    li {
      display: list-item;
      list-style-position: inside;
      list-style-type: circle;
      line-height: 1.60181rem;
      margin-bottom: 20px;
      a {
        color: #6E6E6E;
        border-bottom: 1px solid #6E6E6E;
      }
      span {
        color:#000;
      }
    }
  }
  .number-list {

  }
  .accord-header {
    padding: 1rem;
    font-size: 18px;
    padding-left: 0;
    margin-right: 3.15733rem;
    border-top: 1px solid #E9E9E9;
    position: relative;
    &:nth-last-child(2) {
      border-bottom: 1px solid #E9E9E9;
    }
    .icon-plus {
      position: absolute;
      right: 5px;
      top: 15px;
      display: inline-block;
      &:after {
        content: "";
        width: 15px;
        height: 1px;
        display: inline-block;
        background-color: #000;
        position: relative;
        right: 8px;
        top: -7px;

      }
      &:before {
        content: "";
        width: 1px;
        height: 15px;
        display: inline-block;
        background-color: #000;

        transition: all 0.3s;

      }
    }
    .icon-plus.active  {
      &:before {
        transform: rotate(0deg);
        transition: all 0.3s;
      }
    }
  }
}

.accord-p {
  font-size: .88889rem;
  line-height: 21px;
  margin-bottom: 20px;
  padding-top: 10px;
  a {
    color: #6E6E6E;
    border-bottom: 1px solid #6E6E6E;
    text-decoration: none;
    transition: all 0.3s;
    &:hover {
      color: #000;
    }
  }
}
.accord-h1 {
  padding-top: 1.333rem;
    font-size: 2.02729rem;
    color: #000;
    margin-bottom: 1rem;
}
.accord-h2 {
      font-size: 1.60181rem;
      color: #000;
      padding-top: 1.333rem;
      margin-bottom: 1rem;
}
.accord-h3 {
  font-family: $futmed;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  font-style: 1rem;
  padding-top: 1.333rem;
  color: #000;
  margin-bottom: 20px;
}

.talk-block {
  text-align: center;
  font-family: $futmed;
  letter-spacing: 4px;
  text-transform: uppercase;
  .add-bag-btn {
    margin-left: 10px;
    background-color: #000;
    padding: 15px 20px;
  }
}
.pop-img {
  width: 70vw;
  height: 80vh;
  overflow: scroll;
  img {
    width: 100%;
  }
}
.text-center {
  text-align: center;
}
.view-mob {
  display: none;
}
.mob-info-scroll {
  display: none;
}

footer {
  .f-first-line {
    display: flex;
    justify-content: space-between;
    padding: 30px 0;
    padding-bottom: 15px;
  }
  .number-f {
    text-align: right;
    a{
      display: block;
      font-size: 20px;
      color: #000;
      text-decoration: none;
    }

  }
  .footer-nav {
    display: flex;
    flex-wrap: wrap;
    padding: 20px 0;
    justify-content: center;
    li {
      list-style: none;
      margin: 0 10px;
      a {
        color: #CD627D;
        border-bottom: 1px solid #CD627D;
        text-decoration: none;
      }
    }
  }
  .pay {
    padding: 30px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    img {
      display: inline-block;
      height: 40px;
      margin-left: 10px;
    }
  }
}
#choose-page {
  .container {
    max-width: 1140px;
  }
  background-color: #ECECEC;
  .header-p,.header-p-hide {
    font-weight: 700;
    font-style: normal;
    text-decoration: none;
    text-align: center;
    color: rgb(138, 138, 138);
    font-size: 12px;
    font-family: 'Lato', sans-serif;
    line-height: 1;
    padding: 12px 0;
    margin: 0 20px;
  }
  .header-p-hide {
    display: none;
  }
  .bg-g {
    background-color: rgb(245, 245, 245);
  }
}
.flex-center {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.video-pop iframe {
  width: 50vw!important;
  height: 50vh!important;
}
.bg-cream {
  background-color: rgb(245, 243, 239);
}

.choose-banner {
  text-align: center;
  .inform-h1 {
    padding-top: 36px;
    margin-top: 0;
    font-family: $serif;
    font-weight: 400;
font-size: 36px;
line-height: 1.15;
  }
  .hide-p {
    font-weight: 400;
    font-size: 14px;
    color: rgb(180, 180, 180);
    line-height: 1.2;
    font-family:$lato;
  }


  img {
    width: 100%;
    position: relative;
    bottom: -4px;
  }
}
.pt-30 {
  padding-top: 30px;
}
.choose-btn {
  background-color: rgb(205, 98, 125);
  font-size: 14px;
  color: #FFF;
  display: inline-block;
  font-weight: 700;
  text-decoration: none;
  font-style: normal;
  font-family: $lato;
  border-radius: 0;
  padding-top: 18px;
  padding-bottom: 18px;
  padding-right: 24px;
  padding-left: 24px;
  text-transform: uppercase;
  &:hover {
    background-color: #000;
  }

}
.line-1 {
  text-align: center;
  margin: 0px 100px 0 100px;
  padding-top: 30px;
  padding-bottom: 15px;
  border-bottom: 1px solid rgba(198, 198, 198, 0.75);
  img {
    width: 110px;
  }
  .hide-p2 {
    padding-top: 5px;
    padding-bottom: 15px;
    color: rgb(198, 198, 198);
  }
}
.line-2 {
  img {
    width: 100%;
  }
  .hide-p2 {
    padding-bottom: 0;
    padding-top: 30px;
    color: rgb(198, 198, 198);
  }
}
.two-golf {
  width: 90%;
  margin-left: auto;
  display: inherit;
}
.h2-choose {
  font-weight: 400;
font-style: normal;
text-decoration: none;
text-align: left;
color: rgb(0, 0, 0);
font-size: 28px;
font-family: $serif;
line-height: 1.2;
margin-top: 10px;
}
.check {
  p {
    line-height: 2.5;
font-size: 14px;
margin: 0;
  }
}
.hide-p2 {
  font-weight: 700;
  text-decoration: none;
  text-align: center;
  color: rgb(180, 180, 180);
  font-size: 12px;
  font-family:$lato;
  padding: 20px 0;
  line-height: 1.2;
}

.pd-100 {
  padding: 15px 120px;
}
.example {
  text-align: center;
  padding: 20px 0;

}
.section-name {
  font-weight: 700;
font-family: $lato;
font-size: 12px;
color: rgb(0, 0, 0);
line-height: 1.3;
}
.section-h3 {
  font-weight: 400;
  font-family: $serif;
  font-size: 24px;
  color: rgb(0, 0, 0);
  line-height: 1.3;
}
.example-item {
  margin-top: 20px;
img {
  width: 100%;
}
& > div {
  font-weight: 400;
    font-style: normal;
    text-decoration: none;
    text-align: center;
    color: rgb(0, 0, 0);
    font-size: 12px;
    font-family: $lato;
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
    justify-content: space-around;
}
}
.steps-question {
  margin-top: 80px;
  padding-bottom: 100px;
  .choose-btn {

    padding: 15px 100px;
  }
  .section-h3 {
    font-weight: 400;
font-style: normal;
text-decoration: none;
text-align: center;
color: rgb(0, 0, 0);
font-size: 28px;

line-height: 1.2;
  }
}
.steps {
  padding: 35px 120px;
  text-align: center;
  .section-h3 {
    margin-bottom: 25px;
  }
}
.steps-block {
  & > div:last-child {
    margin-top: 5px;
  }
}
.steps-img {
  margin: 20px 0px;
  img {
    width: 100%;
  }
}
.rose-color {
  color: rgb(205, 98, 125);
}

#choose-thickness {
  .container{
    max-width: 1250px;
  }
  h1 {
    font-size: 2.2807rem;
    font-weight: normal;
    margin-right: auto;
    margin-left: auto;
    max-width: 600px;
    text-align: center;
  }
  p {
    text-align: center;
    position: relative;
    margin-right: auto;
    margin-left: auto;
    max-width: 510px;
    color: #644444;
    font-size: .88889rem;
    margin-bottom: 0;
    line-height: 1.60181rem;
    font-size: 1rem;
  }
  .width-c {
    width: 50%;
    margin: 0 auto;
    &:before {
      display: block;
    content: "i";
    position: absolute;
    top: 0;
    left: -30px;
    padding: 0 8px;
    line-height: 1.26562rem;
    border: 1px solid #644444;
    }
  }
  .select-btn {
    display: inline-block;
    margin: 0 auto;
    transition: all 150ms;
font-family: $futhevy;
text-decoration: none;
margin-top: 15px;
letter-spacing: 0.1rem;
text-transform: uppercase;
font-size: 1rem;
font-size: .79012rem;
letter-spacing: 4px;
display: inline-block;
border-radius: 0;
text-align: center;
padding: .56278rem 1.333rem;
background: none;
color: #323232;
border: 2px solid #323232;
  }


}

.select-grams {
  display: flex;
  justify-content: center;
  width: max-content;
  margin: 70px auto;

  &:hover {
    .select-block {
      opacity: 0.6;
    }
  }
  .select-block:hover {
    opacity: 1!important;
  }
  .select-block {
    transition: all 0.3s;
    box-sizing: border-box;
    border: 1px solid transparent;
    &:hover {
      border: 1px solid #000;
    }
    text-align: center;
    width: 300px;
    padding: 1.77689rem;
    img {
      max-width: 100%;
    }
    .h3-select {
      letter-spacing: 4px;
      text-transform: uppercase;
      margin-bottom: .75019rem;
      font-family: $futmed;
      margin-top: 2.36859rem;
    }
  }
}
.whats {
  background-color: #4fc45d;
  margin-top: 15px;

}
.over-thanks {

  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(233,233,233,0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
  z-index: 1111;
  .thanks {
    max-width: 400px;
    text-align: center;
    width: 100%;
    background-color: #F5F3EF;
    border: 2px solid #ccc;
    padding: 30px 25px;
    border-radius: 15px;
    .inform-h2 {
      font-size: 1.50181rem;
  margin-bottom: 20px;
    }
  }
}
.add-pop {
  max-width: 500px;
  text-align: center;
  width: 100%;
  padding: 30px 30px;
  margin: 0 auto;
  background-color: #F5F3EF;
  border: 2px solid #ccc;
  border-radius: 15px;
  position: relative;
  .inform-h2 {
    font-size: 1.50181rem;
margin-bottom: 20px;
  }
  .diss {
    position: absolute;
    right: 0px;
    top: -40px;
    width: 35px;
    img {
      width: 100%;
    }

  }
  input {
    display: block;
    width: 80%;
    margin: 0 auto;
    border-radius: 15px;
    padding: 15px 25px;
    font-size: 15px;
    border: 1px solid #000;
  }
  button {
    margin-left: 10px;
    font-family: "Futura LT Heavy";
    text-transform: uppercase;
    display: inline-block;
    font-size: .79012rem;
    letter-spacing: 4px;
    background-color: inherit;
    margin-top: 20px;
    color: #000;
    border: 2px solid #000;
    padding: 10px 15px;
    &:hover {
      color: #ccc;

    }
  }
}
@media (max-width: 1440px) {
  .video-pop iframe {
    width: 70vw!important;
    height: 50vh!important;
  }
}
@media (max-width: 1023px) {
  .select-grams .select-block {
    width: 235px;
  }
  .mob-white {
    background-color: #fff!important;
  }
  .bg-white-mob {
    background-color: #fff;
    z-index: 2;
  }
  .view-desk {
    display: none;
  }
  .view-mob {
    display: block;
  }
  .product-slider {
    max-width: 400px;
    width: 100%;
    margin: 0 auto;
    position: relative;
    img {
      width: 100%;
    }
    .slick-dots {
      padding: 0;
      position: absolute;
      bottom: -18px;
      width: 100%;
      margin: 0;
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      z-index: 10;
      li {
        list-style: none;
        margin: 0 5px;
        &.slick-active {
          button {
            background-color: #6E6E6E;
          }
        }

        button {
        font-size: 0;
        padding: 0;
        width: 8px;
        height: 8px;
        background-color: #E9E9E9;
        border: none;
        border-radius: 50%;
        }
      }
    }
  }
  .mob-info-scroll {
    display: block;
    color: #CD627D;
    padding-top: 10px;
    font-size: 1.26562rem;
    padding-bottom: 25px;
  }
  .product-info {
    text-align: center;
  }
  .product-info .select-color,.product-info .select-lenght {
    justify-content: center;
  }
  .inform-wrapper {
    padding: 50px;
  }
  .accordion-section .accordion {
    width: 90%;
  }
  .accordion-section .accord-header {
    margin-right: 0;
  }
  .video-pop {
    iframe {
      width: 70vw!important;
      height: 50vh!important;
    }
  }

}
.inline-img {
  display: none;
}
 .sel-img {
   position: relative;
   span {
     display: none;
   }
 }
@media (max-width: 768px) {
  #choose-thickness .width-c {
    width: 80%;
  }

   .select-grams {
         white-space: nowrap;

      .select-block {

      }
   }
   .overflow-mob {
     overflow-x: scroll;
   }
   .select-grams .select-block .h3-select {
     letter-spacing: 2px;
   }
   .select-grams .select-block {
     width: 240px;
   }
}

@media (max-width: 767px) {
  .sel-img {
    position: relative;
    span {
      position: absolute;
      right: 5px;
      top: 5px;
      width: 40px;
      display: inline-block;
      img {
        width: 100%;
      }
    }
  }
}
@media (max-width: 550px) {

  .slider-popop_block > a {
    display: none;
  }
  .steps-question {
    margin-top: 40px;
    padding-bottom: 70px;
  }
  .steps-question .choose-btn {
    padding: 15px 120px;
    margin-bottom: 15px;
    display: inline-block;
  }
  .line-2 img {
    width: 80%;
    margin: 0 auto;
  }
  .line-2 {
    text-align: center;
  }
  .or-2 {
    order: 2;
  }
  .or-1 {
    order: 1;
  }
  .two-golf {
    width: 100%;
    padding-top: 15px;
  }
  .h2-choose {
    text-align: center;
    margin-bottom: 10px;
  }
  .check p {
    padding-left: 10px;
    line-height: 2;
  }
  .pd-100 {
    padding:  15px 50px;
  }
  .steps {
    padding: 35px 80px;
  }
  .none {
    display: none;
  }
  .inline-img {
    display: inline-block;
  }
  .line-1 {
    margin: 0 40px;
  }
  .header-p {
    display: none;
  }
  .header-p-hide {
    display: block!important;
  }
  .pd-20 {
    padding: 0;
  }
  footer .footer-nav li {
    margin-bottom: 15px;
  }
  .f-first-line {
    flex-direction: column-reverse;
    text-align: center;
    & > div {
      margin-bottom: 25px;
    }
    .number-f{
      text-align: center;
    }
    .f-text {
      margin-top: 10px;
      padding: 0 15px;
    }
  }
  .merits .merits-item {
    padding: 0 10px;
  }
  .merits .merits-item .merits-text {
    font-size: 10px;
    margin-top: 13px;
  }
  .mid-text {
    padding: 80px 0;
  }
  .inform-wrapper {
    padding: 50px 20px;
  }
  .inform-h1 {
    font-size: 1.56578rem;
  }
  .accordion-section .accord-header {
    font-size: 14px;
    padding-right: 20px;
  }
  .accordion-section .accord-content {
    padding-right: 0;
  }

  .talk-block .add-bag-btn {
    display: block;
    margin-top: 20px;
  }
  .slider-pop {
    max-width: 100%;
    padding: 10px;
  }
  .slider-pop p {
    padding: 15px;
  }
  .slider-pop .diss {
    top: -40px;
  }
  .pop-img {
    width: 95vw;
  }
  .add-pop {
    padding: 20px 15px;
    .add-pop .inform-h2 {
      font-size: 1.3rem;
    }
  }
}

@media (max-width: 350px) {
  .video-pop {
    iframe {
      width: 90vw!important;
      height: 50vh!important;
    }
  }
  .merits .merits-item:nth-child(2) .merits-text {
    width: 90%;
    margin: 0 auto;
    margin-top: 10px;
  }
  .merits .merits-item .merits-text {
    line-height: 1rem;
  }
  .add-bag-btn {
        padding: 17px 70px;
  }
  .slider-popup-section {
    padding-top: 50px;
  }
  .inform-wrapper {
    padding: 40px 0;
  }
  .accordion-section .accordion {
    width: 100%;
  }
  .accordion-section {
    margin: 50px 0;
  }
}
